/*body {*/
    /*!*background: rgba(128,128,128, 0.5);*!*/
    /*background-image:url("portland.jpg");*/
/*}*/

/*h1 {*/
    /*font-size: 2em;*/
/*}*/

/*h2 {*/
    /*font-size: 1em;*/
/*}*/

.container {
    background-color: rgba(128,128,128, 0.75);
    align-content: center;
    margin: auto;
    width: 60%;
    border: 3px solid black;
    padding: 20px;
    text-align: center;
}

